html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  scrollbar-color: var(--color-scrollbar) var(--color-bg);
}
body {
  background: var(--color-bg);
  color: var(--color-fg);
}
.container {
  margin: auto;
  padding: 0.5em 1em;
  min-width: 300px;
  max-width: 800px;
}
.header {
  font-size: 1.4em;
  border-bottom: dashed 2px currentColor;
  user-select: none;
}
.header ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0.5em 0;
}
.header li {
  margin-left: 0.8em;
  float: right;
}
.header li.home {
  margin-left: 0;
  float: left;
}
.header a {
  color: inherit;
}
ul.list {
  list-style: none;
  padding: 0;
}
ul.list li {
  padding: 0.5em 0;
  border-top: 2px dashed var(--color-scrollbar);
}
ul.list li span {
  float: right;
  padding-left: 0.5em;
}
a {
  text-decoration: none;
  color: var(--color-link);
}
a:hover,
.header li:hover {
  text-decoration: underline;
  color: var(--color-link-hover);
}
blockquote {
  color: var(--color-blockquote);
  border-left: 5px solid currentColor;
  padding-left: 1em;
  margin-left: 0;
}
code {
  font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace !important;
  font-size: 0.85em;
  padding: 0.2em 0.3em;
  border-radius: 4px;
  background: var(--color-code-bg);
}
pre code {
  padding: 0;
  border-radius: 0;
  background: none;
}
pre {
  padding: 1em;
  overflow: auto;
  background: var(--color-code-bg);
  border: 2px solid var(--color-scrollbar);
  border-radius: 4px;
}
table {
  margin: 1em 0;
  display: block;
  overflow: auto;
  border-collapse: collapse;
}
table td,
table th {
  border: 2px solid currentColor;
  padding: 0.5em;
}
table th {
  background: var(--color-table-th);
}
table tr:nth-child(even) {
  background: var(--color-table-tr-even);
}
img {
  max-width: 100%;
}
figure {
  background: var(--color-code-bg);
  margin: 1em 0;
  border: 2px solid var(--color-scrollbar);
  border-radius: 4px;
}
figure img {
  width: 100%;
}
figcaption h4 {
  margin: 0.2em;
  text-align: center;
}
::-webkit-scrollbar {
  background: var(--color-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
}
